<!-- About image portion -->
<div>
    <img src="./assets/image/about1.jpg" alt="" style="width:100%">
</div>

<br>
<hr>

<!-- About quote portion  -->
<h1 class="text-center" style="font-family: 'Romanesco', cursive; padding: 100px; color: rgb(195, 80, 195);"><span
    class="material-symbols-outlined" style="font-size: larger;">
    mood
  </span> Get the best or nothing at all.
  <span class="material-symbols-outlined" style="font-size: larger;">
    mood
  </span>
</h1>

<hr>
<br>


<!-- about body portion  -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/image/about2.jpg" alt="" style="width:100%">
      </div>
      <div class="col-md-6">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum illum recusandae minima quisquam dolor
          nihil excepturi amet nam? Tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi
          ipsum hic iusto recusandae numquam qui nisi dolorem assumenda vel? Assumenda quasi totam repudiandae atque
          numquam? Iste dolor necessitatibus voluptas.</p>
        <button type="button" class="btn btn-info btn-lg">Lorem Ipsum</button>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum illum recusandae minima quisquam dolor
          nihil excepturi amet nam? Tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi
          ipsum hic iusto recusandae numquam qui nisi dolorem assumenda vel? Assumenda quasi totam repudiandae atque
          numquam? Iste dolor necessitatibus voluptas.</p>
        <button type="button" class="btn btn-primary btn-lg">Lorem Ipsum</button>
      </div>
      <div class="col-md-6">
        <img src="./assets/image/about3.jpg" alt="" style="width:100%">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/image/about4.jpg" alt="" style="width:100%">
      </div>
      <div class="col-md-6">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum illum recusandae minima quisquam dolor
          nihil excepturi amet nam? Tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi
          ipsum hic iusto recusandae numquam qui nisi dolorem assumenda vel? Assumenda quasi totam repudiandae atque
          numquam? Iste dolor necessitatibus voluptas.</p>
        <button type="button" class="btn btn-success btn-lg">Lorem Ipsum</button>
      </div>
    </div>
  </div>
<br>