<div>
    <img src="./assets/image/contact.jpg" alt="" style="width: 100%; padding-left:200px; padding-right:200px;">
</div>

<hr>
<h1 class="text-center" style="font-family: 'Romanesco', cursive; padding: 70px; color: rgb(195, 80, 195);"><span
    class="material-symbols-outlined" style="font-size: larger;">
    mood
  </span> We are always here to serve you.
  <span class="material-symbols-outlined" style="font-size: larger;">
    mood
  </span>
</h1>

<!-- <div class="text-center" style="padding: 100px;">
    <h1>CONTACT US</h1>
    <h3>Quetion not answered yet? We are here to help!</h3>
</div>
<hr>
<br>

    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="material-symbols-outlined">location_on</span>
        </div>
        <div class="col-md-9">
            <span>Viman Nagar, Pune, Maharashtra, India</span>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="material-symbols-outlined">call</span>
        </div>
        <div class="col-md-9">
            <span>+91 65478912303</span>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="material-symbols-outlined">mail</span>
        </div>
        <div class="col-md-9">
            <span>happyTummy@jci.com</span>
        </div>
    </div>
</div>
<br> -->
