<h1 class="text-center" style="padding:50px">EDIT MENU ITEMS</h1>

<form >
    <div class="form-group">
      <label >Menu Id</label>
      
      <input type="text" name="_menuId" [(ngModel)] = "menuForm._menuId" class="form-control"  placeholder="Enter menu id" id="menuId" #menuId="ngModel" required [ngClass]="{'is-invalid': menuId.invalid && (menuId.dirty || menuId.touched)}">
      
      <div class="invalid-feedback" *ngIf="menuId.invalid && (menuId.dirty || menuId.touched)">
        <p style="color: red;">Required Field</p>
      </div>
    </div>



    <div class="form-group">
      <label >Menu Name</label>
      
      <input type="text" name="_menuName" [(ngModel)] = "menuForm._menuName" class="form-control"  placeholder="Enter menu name" id="menuName" #menuName="ngModel" required [ngClass]="{'is-invalid': menuName.invalid && (menuName.dirty || menuName.touched)}">

      <div class="invalid-feedback" *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)">
        <p style="color: red;">Required Field</p>
      </div>
    </div>


    <div class="form-group">
        <label >Menu Description</label>
        <input type="text" name="_menuDescription" [(ngModel)] = "menuForm._menuDescription" class="form-control"  placeholder="Enter menu description" id="menuDesc" #menuDesc="ngModel" required [ngClass]="{'is-invalid': menuDesc.invalid && (menuDesc.dirty || menuDesc.touched)}">
        <div class="invalid-feedback" *ngIf="menuDesc.invalid && (menuDesc.dirty || menuDesc.touched)">
          <p style="color: red;">Required Field</p>
        </div>
    </div>


    <div class="form-group">
        <label >Menu URL</label>
        <input type="text" name="_menuImage" [(ngModel)] = "menuForm._menuImage" id="txturl"class="form-control" class="form-control"  placeholder="Enter menu url" id="menuURL" #menuURL="ngModel" required [ngClass]="{'is-invalid': menuURL.invalid && (menuURL.dirty || menuURL.touched)}">
        <div class="invalid-feedback" *ngIf="menuURL.invalid && (menuURL.dirty || menuURL.touched)">
          <p style="color: red;">Required Field</p>
        </div>
    </div>


      <a (click)="update()" class="btn btn-primary" routerLink="/Adminmenu">Update</a>
  </form>