<div class="container">
    <h1 class="text-center" style="font-style: italic; padding: 120px;">Welcome to admin dashboard</h1>
        <button class="btn btn-info btn-lg btn-block" routerLink="/Adminmenu" style="padding: 15px;"><a>View all Menu</a></button>
        <button class="btn btn-warning btn-lg btn-block" routerLink="/Admincategory" style="padding: 15px;"><a>View all Category</a></button>
        <button class="btn btn-success btn-lg btn-block" style="padding: 15px;"><a>View all Dish</a></button>
</div>

<br><br>