<h1 class="text-center" style="padding:90px">DISH ITEMS</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Dish Id</th>
        <th scope="col">Dish Name</th>
        <th scope="col">Dish Description</th>
        <th scope="col">Dish Image</th>
        <th scope="col">Dish Nature</th>
        <th scope="col">Dish Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let dish of categoryDish'>
        <td>{{dish._dishId}}</td>
        <td>{{dish._dishName}}</td>
        <td>{{dish._dishDescription}}</td>
        <td>{{dish._dishImage}}</td>
        <td>{{dish._nature}}</td>
        <td><a role="button" class="btn btn-danger" (click)="deleteMenu(dish._dishId)">Delete Dish</a></td>
      </tr>
    </tbody>
  </table>
<br>
  <div style="padding: 20px;">
    <a class="btn btn-success btn-block" role="button" routerLink="/Adminmenu">Dashboard</a>
  </div>
<br>
